--extra-index-url https://download.pytorch.org/whl/cpu

Flask==3.0.2
Flask-Cors==4.0.0
gunicorn==22.0.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.4.1.post1
torch==2.2.2+cpu
sentence-transformers==2.5.1
